.card:hover {
    cursor: pointer;
    background-color: #ffc107;
    transition: all 0.3s ease-in-out;
}
@media(min-width: 769px) {
   .search-input {
       max-width: 50%;
   }
   .card {
       min-width: 100%;
   }
}


