.card:hover {
    cursor: pointer;
    /* opacity: 0.7; */
    background-color: #0d6efd;
    transition: all 0.3s ease-in;
}
@media(min-width: 769px) {
   .search-input {
       max-width: 50%;
   }
   .card {
       min-width: 100%;
   }
}


